body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 3rem;
}

.botaoComecar {
  background: white;
  border-radius: 0.7rem;
  border: 0.111rem solid #fff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoComecar:hover {
  background: #333;
  border: 0.111rem solid #fff;
  transition: all 1s;
}

.botaoComecar p {
  padding: 1rem 7rem 1rem 0.5rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoComecar i {
  color: #333;
  padding-left: 7rem;
  font-weight: bold;
}

.botaoComecar:hover p {
  color: #fff;
  transition: all 1s;
}

.botaoComecar:hover i {
  color: #fff;
  transition: all 1s;
}

.grupo {
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
}

.nomes {
  font-weight: 400;
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;
  font-size: 1rem;
}

.subtitulo h5 {
  margin: 0 1rem;
}
