header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #333;
  -webkit-box-shadow: 0px 4px 14px 4px #000000;
  box-shadow: 0px 4px 14px 4px #000000;

  width: 100vw;
  margin-bottom: 5rem;
  padding: 0.8rem;
}

header .logo img {
  width: 8rem;
}

h3 {
  color: #fff;
  font-weight: 500;
}
