.container {
  background-color: #333;
  color: #fff;

  width: 40rem;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 4px 4px 0px -2px #ffffff;
  box-shadow: 4px 4px 0px -2px #ffffff;
}

.containerP {
  background-color: #333;
  color: #fff;

  width: 40rem;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 5rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 4px 4px 0px -2px #ffffff;
  box-shadow: 4px 4px 0px -2px #ffffff;
}

.pontuacao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pontuacao > span {
  font-weight: bold;
}

.infoPerguntas {
  width: 100%;
  position: relative;
}

.contagemPerguntas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.pergunta {
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.grupoResposta {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.resposta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grupoResposta button {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: start;

  width: 100%;
  margin: 0 1.2rem 1rem;
  padding: 0.6em 1.2em;

  background: #333;
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.8rem;

  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
}

.grupoResposta button:hover {
  background-color: #888;
}

.botaoHome {
  display: flex;
  margin-top: 2rem;
  background: white;
  border-radius: 0.7rem;
  border: 0.111rem solid #fff;
  text-decoration: none;
}

.botaoHome p {
  padding: 0.7rem 0.7rem 0.7rem 0.3rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoHome i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0.7rem;
}

.botaoHome:hover {
  background: #333;
  border: 0.111rem solid #fff;
  transition: all 1s;
}

.botaoHome:hover p {
  color: #fff;
  transition: all 1s;
}

.botaoHome:hover i {
  color: #fff;
  transition: all 1s;
}

.confete {
  width: 100vw;
  height: 100vh;
}
